@font-face {
    font-family: 'AppleColorEmoji';
    src: url('../font/AppleColorEmoji.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5de60;
    overflow: hidden;
}

.wallpaper-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr); /* 6 emojis per row */
    grid-auto-rows: minmax(30px, auto); /* Ensure rows have enough space */
    justify-items: center; /* Center emojis in each cell */
    align-items: center; /* Center emojis in each cell */
    height: 106vh;
    transform: translateY(-3%);
    /* background-color: #f5de60; Gold color background */
    /* transform: translate(0, -30px); */
}

.emoji {
    font-size: 2vh;
    font-family: 'AppleColorEmoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Android Emoji', 'EmojiSymbols', sans-serif;
    transition: transform 0.3s;
}

.emoji:hover {
    transform: scale(1.5);
}
